<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to HamTTPD!</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h1>HamTTPD</h1>
        <p>Hello <a href="mailto:{{user.email}}">{{user.display_name}}</a>, your call sign is <strong>{{user.callsign}}</strong>.</p>
        <p><a href="/about.html">What is this?</a></p>
        <h3>Send a new message</h3>
        <form method="post" action="">
            <label for="message">Your message:</label>
            <textarea id="message" name="message"></textarea>
            <input type="submit" value="Send" />
        </form>
        {% if !messages.is_empty() %}
        <h3>Past messages</h3>
        <ul>
            {% for message in messages %}
            <li><strong>{{message.author}}:</strong> {{message.content}} <em>({{message.created}})</em></li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
